.card {
  position: relative;
  width: 100%;
}

.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.card__main {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px 16px;
  gap: 38px;
  width: 107px;
}

.card__main_gap {
  gap: 70px;
}

.card__spin {
  font-size: 22px;
  -webkit-text-fill-color: #36befe;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 2px;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.card__extra {
  font-size: 10px;
  -webkit-text-fill-color: #da57ff;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
}

.card__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.card__star {
  font-size: 10px;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #0b6232;
  -webkit-text-stroke-width: 1px;
}

.card__img {
  position: relative;
  width: 100%;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
}

.card__coins {
  font-size: 20px;
  -webkit-text-fill-color: #ffe500;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 2px;
}
