.game {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top: 20px;
  height: 100%;
}

.game__big {
  position: relative;
  width: calc(100% + 24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.game__big-line {
  width: calc(100% + 12px);
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  align-self:flex-end;
  position: relative;
  left: 6px;
}

.game__level {
  position: relative;
  top: -12px;
}

.game__level-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__level-img {
  width: 64px;
}

.game__level-text {
  position: relative;
  top: -2px;
  left: -38px;
  font-size: 15px;
  line-height: 21px;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 2px;
  font-family: "Obelix Pro";
}

.game__board-left {
  position: relative;
  height: auto;
}

.game__link {
  position: relative;
  top: -12px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  text-decoration: none;

  &:hover .game__back-left {
    filter: grayscale(0);
  }

  &:hover .game__text {
    color: #ffffff;
  }
}

.game__back-left {
  filter: grayscale(1);
}

.game__text {
  font-size: 8px;
  line-height: 11px;
  color: #ffffff49;
  text-align: center;
  font-family: "Obelix Pro";
}

.game__text_white {
  color: #ffffff;
}

.game__board-right {
  height: auto;
}

.game__back-right {
  filter: grayscale(0);
}

.game__center {
  position: absolute;
  top: 54px;
  left: calc(50% - 96px);
  height: calc(100% - 54px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game__jackpot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.game__jackpot-img {
  width: 56px;
  height: 54px;
}

.game__jackpot-text {
  font-size: 15px;
  line-height: 21px;
  -webkit-text-fill-color: #ffe500;
  -webkit-text-stroke-color: #7e0606;
  -webkit-text-stroke-width: 2px;
  margin: 0;
  font-family: "Obelix Pro";
  font-weight: bold;
  background: linear-gradient(0deg, rgba(255,231,16,1) 0%, rgba(255,247,204,1) 20%, rgba(255,206,8,1) 60%, rgba(255,184,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__spin-button {
  position: relative;
  border: none;
  background: none;
}

.game__spin-button-img {
  width: 180px;
}

.game__spin-button-block {
  position: absolute;
  top: 2px;
  left: 60px;
}

.game__spin-button-text {
  font-size: 20px;
  line-height: 28px;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #730a2a;
  -webkit-text-stroke-width: 2px;
  font-weight: bold;
  font-family: "Obelix Pro";
  position: relative;
  top: 4px;
}

.game__luck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.game__win {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.game_win-text {
  font-size: 13px;
  -webkit-text-fill-color: #ffe500;
  -webkit-text-stroke-color: #7e0606;
  -webkit-text-stroke-width: 2px;
  font-family: "Obelix Pro";
}

.game__wheel {
  position: relative;
  height: 100%;
  min-height: 308px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__wheel-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 6px solid #e32e2e;
  border-radius: 6px;
}

.game__indicator {
  position: absolute;
  top: calc(50% - 23px);
  left: 0;
  width: 38px;
  z-index: 100;
}

.game__info {
  display: block;
  position: relative;
  width: 162px;
  height: 70px;
}

.game__info-blue {
  position: absolute;
  top: 0;
  left: 0;
}
.game__info-top {
  position: absolute;
  top: 4px;
  left: 42px;
  width: 78px;
}

.game__info-light {
  position: relative;
  display: block;
}

.game__data {
  position: absolute;
  top: 3px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 100%;
}

.game__lightning {
  width: 16px;
}

.game__data-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__data-title {
  font-size: 8px;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #875030;
  -webkit-text-stroke-width: 1px;
  font-family: "Obelix Pro";
}

.game__middle {
  position: absolute;
  top: 34px;
  left: 10px;
  z-index: 10;
  border-radius: 6px;
  overflow: hidden;
}

.game__progress {
  position: relative;
  overflow: hidden;
  width: 141px;
  height: 12px;
}

.game__middle-grey {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

.game__middle-color {
  position: absolute;
  top: 0;
  z-index: 11;
  border-radius: 6px;
}

.game__middle-data {
  position: absolute;
  top: 1px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 12;
}

.game__middle-text {
  font-size: 8px;
  color: #ffffff;
  font-family: "Obelix Pro";
}

.game__bottom {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.game__bottom-text {
  font-size: 8px;
  color: #ffffff;
  font-family: "Obelix Pro";
}
